.search input {
  height: 30px;
  width: 60%;
  padding: 0 20px 0 25px;
  background: white;
  border: 1px solid #baccbd;
  border-radius: 20px;
  float: right;
}

.search input:focus {
  outline: none;
  border-color: #66ee83;
}

.search .results {
  display: block;
  padding: 0;
  margin: 0;
  width: 60%;
  float: right;
  border-width: 1px;
  border-style: solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
}

.search .results li {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgba(88, 85, 85, 0.3);
  cursor: pointer;
}

.search .results li img {
  width: 30px;
  margin-right: 5px;
}

.search .results li:hover {
  background: rgba(88, 85, 85, 0.1);
}
